#!/bin/sh
#
# canbus:       configure CANBUS devices

#
# chkconfig:	- 60 40
# description:	configures CANBUS devices for use with iseg2dim

# Source function library.
. /etc/rc.d/init.d/functions

. /etc/sysconfig/network

[ ${NETWORKING} = "no" ] && exit 0


# Warning: setting the list of CANBUS devices in the init script is a
# bit of a hack. It would be cleaner to read this setting from another
# file, e.g. in /etc/sysconfig
CANBUS_DEVICES="<%= @devices %>"

start() 
{
        echo -n $"Starting canbus: "

	modprobe pcan
	for i in $CANBUS_DEVICES; do
	    echo -n $i
	    ip link set $i up;
	done

	#ip link show
	
        echo
}

stop() 
{
        echo -n $"Shutting down canbus: "
	rmmod pcan

        echo
}

status()
{
    for i in $CANBUS_DEVICES; do
	ip link show $i;
    done
}

# See how we were called.
case "$1" in
  start)
      start
      ;;
  stop)
      stop
      ;;
  restart|reload|condrestart)
      stop
      start
      ;;
  status)
      status
      ;;
  *)
        echo $"Usage: $0 {start|stop|restart|reload|condrestart}"
        exit 1
esac

exit 0
