<config>
  <service>
    <pattern>HV.*.VMeas</pattern>
    <abs_deadband>0.2</abs_deadband>
    <timeout>30</timeout>
  </service>

  <service>
    <pattern>HV.*.ANODE.IMeas</pattern>
    <abs_deadband>0.01</abs_deadband>
    <timeout>30</timeout>
  </service>

  <service>
    <pattern>HV.*.DRIFT.IMeas</pattern>
    <abs_deadband>0.01</abs_deadband>
    <timeout>30</timeout>
  </service>
</config>

