
Wing_Dbname   = <%= scope.lookupvar('trd::wingdb::config::wingdbname') %>

Wing_User     = <%= scope.lookupvar('trd::wingdb::config::wingdbuser') %>

Wing_Password = <%= scope.lookupvar('trd::wingdb::config::wingdbpass') %>

